/* Reset ----------------------------------------------- */

:where(*, ::before, ::after) {
  box-sizing: border-box;
}
:where(body) {
  font-family: ui-sans-serif, sans-serif;
  font-size: 1.05em;
  line-height: 1.5em;
  margin: auto;
  max-width: 70ch;
  padding: 4rem 1rem;
}
:where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2;
  margin: 2em 0 1rem;
  overflow-wrap: break-word;
  text-wrap: balance;
}
:where(article, blockquote, header, footer, figure, ol, ul, hr, p, pre) {
  margin: 1.5em 0;
}
:where(button, input, select, textarea) {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}
:where(img) {
  display: block;
  max-width: 100%;
}

/* Demo styles ----------------------------------------- */

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

label {
  display: block;
}

/* Basic textarea styling ------------------------------ */

textarea-2 {
  border: 1px dashed black;
  caret-color: blue;
  padding: 0.75ch;
}

menu {
  background-color: white;
  border: 1px solid black;
  flex-direction: column;
  gap: 0.25rem;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;

  &:popover-open {
    display: flex;
  }

  button {
    background-color: white;
    border: 1px solid black;
    display: block;
    font: inherit;
    padding: 0.25rem 0.5rem;
    width: 100%;

    &[data-active="true"] {
      background-color: lightskyblue;
    }
  }
}
